<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Task</title>
</head>
<body>
    <h1>Task Management System</h1>
    
    <div>
        <label>Title</label>
        <input type="text" class="form-control" name="first_name" placeholder="Enter first_name" required>
    </div>

    <div>
        <label>First Name</label>
        <input type="text" class="form-control" name="first_name" placeholder="Enter first_name" required>
    </div>

</body>
</html>