<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <h1>Task Management System</h1>
        <h3>Login</h3>
        <hr>

        {% if messages %}
        <div role="alert">
            {% for message in messages %}
            {{ message }}
            {% endfor %}
        </div>
        {% endif %}

        <div>
            <label>Username</label>
            <input type="text" class="form-control" name="username" placeholder="Enter username" required>
        </div>

        <div>
            <label>Password</label>
            <input type="password" class="form-control" name="password" placeholder="Password" required>
        </div>

        <p>Don't have an account ? <a href="/register/">Register</a> </p>
        <button type="submit">Submit</button>
    </form>
</body>
</html>